html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Ubuntu', sans-serif;
    color: #000000;
    background-color: #FFFFFF;
    border: none !important;
}

body.home {
    color: #FFFFFF;
    background-color: #333333; /* Fallback for index */
}

.page-wrapper {
    flex: 1 0 auto;
    background-color: transparent !important;
    border: none !important;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    background-color: #E5E5E5;
    margin: 20px;
    padding: 10px;
    font-size: 1.5em;
}

h2.ex2 {
    background-color: #E5E5E5;
    margin: 20px;
    padding: 10px;
}

p {
    margin: 20px;
}
