* {
  box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
  color: #000; /* Black for other pages */
  font-family: 'Ubuntu', sans-serif;
}

/* White font color for index.html */
body.home {
  color: #fff; /* White for index.html */
}

a:link, a:visited {
    color: white; /* If white links are site-wide */
    text-decoration: none;
}

a {
  color: inherit;
  text-decoration: none;
}
