header {
    position: relative;
    z-index: 2;
}

#logo {
    position: absolute;
    top: 25px;
    left: 35px;
}

.nav-menu {
    text-align: center;
    margin: 20px 0;
    position: relative;
    z-index: 2;
}

.nav-menu ul {
    display: inline-block;
    padding: 0;
    list-style-type: none;
}

.nav-menu ul li {
    display: inline;
    margin-right: 15px;
}

.nav-menu a {
    color: #000000; /* Black for non-home pages */
    text-decoration: none;
}

.home .nav-menu a {
    color: #FFFFFF; /* White for index.html */
}

.nav-menu a:hover {
    color: #FE0002; /* Red hover */
}
