<div id="logo">
  <a href="https://ampere.dev" aria-label="Return to Ampere Development Homepage">
    <img src="/images/Ampere-Logo.webp" alt="Ampere Development Logo" width="154" height="30" loading="lazy">
  </a>
</div>

<header role="banner">
  <nav role="navigation">
    <a href="https://ampere.dev/what-are-load-banks">LOAD BANKS</a>
    <a href="https://ampere.dev/starline-tapbox-rental">STARLINE</a>
    <!-- Add all your other nav links here -->
    <a href="/rss.xml">RSS FEED</a>
  </nav>
</header>

<h1 style="display: inline;">Ampere Insights</h1>
<span>is a streamlined blog dedicated to unpacking the latest advancements and solutions in power systems, electrical infrastructure, and cutting-edge fabrication, delivering sharp, concise posts with expert perspectives on load banks, power quality, transformers, 3D fabrication, and more, empowering professionals with clear, actionable knowledge to shape the future of energy and industry.</span>

<div class="search-container">
  <input type="text" id="search" placeholder="Search posts..." oninput="searchPosts()">
</div>