<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="css/footer.css">
</head>
<body class="bg-white text-gray-900 antialiased">

  <div id="logo">
    <a href="https://ampere.dev" aria-label="Return to Ampere Development Homepage">
        <img src="/images/Ampere-Logo.webp" alt="Ampere Development Logo" width="154" height="30" loading="lazy">
    </a>
</div>
    <header role="banner">
        <nav role="navigation">
            <a href="https://ampere.dev/what-are-load-banks">LOAD BANKS</a>
            <a href="https://ampere.dev/starline-tapbox-rental">STARLINE</a>
            <a href="https://ampere.dev/cables">CABLES</a>
            <a href="https://ampere.dev/flir">FLIR</a>
            <a href="https://ampere.dev/power-quality">POWER QUALITY</a>
            <a href="https://ampere.dev/transformers">TRANSFORMERS</a>
            <a href="https://ampere.dev/3D-fabrication">3D FABRICATION</a>
            <a href="/rss.xml">RSS FEED</a>
        </nav>
    </header>

  <!-- Main content -->
  <main class="min-h-screen">
    {{ content }}
  </main>

  <!-- Footer -->
  <footer id="footer">
        <div class="footer-links">
            <ul>
                <li><a href="https://ampere.dev/about">ABOUT</a></li>
                <li><a href="https://ampere.dev/products">PRODUCTS</a></li>
                <li><a href="https://ampere.dev/services">SERVICES</a></li>
                <li><a href="https://ampere.dev/blog">BLOG</a></li>
                <li><a href="https://ampere.dev/privacy-legal">PRIVACY & LEGAL</a></li>
                <li><a href="https://ampere.dev/contact">CONTACT</a></li>
            </ul>
        </div>
        <div class="social-icons">
            <a href="https://x.com/LoadbankPro" target="_blank" rel="noopener">
                <img src="icons/logo-black.webp" alt="X logo">
            </a>
        </div>
        <div>
            <p>AMPERE © 2026</p>
        </div>
    </footer>

</body>
</html>